	<section id="playlistInfo">
		<% if @current_playlist %>
		<h2 id="playList"><%= @current_playlist.title %></h2>
		<a href="#" id="show_topics" class='button'>Ver temario</a>		
		<%end%>		
		<a href="#" id="show_editor" class='button'>Abrir editor de texto</a>
		<a href="#" id="show_languages" class='button'>Seleccionar lenguaje</a>
		<a href="#" id="l_o_d" class='button'>Light</a>
	</section>
	
	

	<section id="topics">
				<% if @current_playlist %>
					<ul id="listOfTopics">
						<% @current_playlist.videos.each do |video|%>
						<li><a href="/video/<%= video.unique_id %>"><%= video.title %></a></li>
						<%end%>
					</ul>
				<%end%>
	</section>
	<section id="languages">
					<ul id="listOfTopics">
						<% @languages.each do |l|%>
						<li><a href="#" data-l="<%= l %>" class='pick'><%= l.capitalize %></a></li>
						<%end%>
					</ul>
	</section>
	

	<article id='m_video'>
		<h3 id="videoTitle">
			<span>-</span><%= @video.title %>
		</h3>
		768,432
		<div id='video'>
			<iframe id="videoFrame" type="text/html" width="853" height="480" src="<%= @video.embed_url %>" frameborder="0"></iframe>
		</div>
	</article>
	<aside id='a_video'>
		<%= render 'like_box' %>
	</aside>
	<div id="editor">#El lenguaje por defecto es Ruby
#Haz clic en el botón seleccionar lenguaje para cambiar 
#el lenguaje  del editor
	</div>
	    
	
	<div id='social'>
		<%= render 'social' %>

	</div>



