
<section id='content'>
	<% if @current_playlist %>
		<h2 id="pTitle"><%= @current_playlist.title %></h2>
	<%end%>
	<div id='video'>
		<iframe class="" id="" type="text/html" width="595" height="490" src="<%= @video.embed_url %>" frameborder="0"></iframe>
	</div>
	<div id='desc'>
		<h2 id='pTitle'><%= @video.title %></h2>
		
		<%= render 'social' %>

	</div>
</section>
<section id="temario">
	<h2 id="pTitle">Temario</h2>
			<% if @current_playlist %>
				<ul>
					<% @current_playlist.videos.each do |video|%>
			
					<li><a href="/video/<%= video.unique_id %>"><%= video.title %></a></li>
					<%end%>
				</ul>
			<%end%>
	</section>



