	<% if @current_playlist %>

	<section id="playlistInfo">
		<h2 id="playList"><%= @current_playlist.title %></h2>
		<a href="#" id="show_topics">Ver temario</a>
	</section>
	
	<%end%>

	<section id="topics">
				<% if @current_playlist %>
					<ul id="listOfTopics">
						<% @current_playlist.videos.each do |video|%>
						<li><a href="/video/<%= video.unique_id %>"><%= video.title %></a></li>
						<%end%>
					</ul>
				<%end%>
	</section>

	

	<h3 id="videoTitle">
		<span>-</span><%= @video.title %>
	</h3>
	
	<div id='video'>
		<iframe id="videoFrame" type="text/html" width="595" height="490" src="<%= @video.embed_url %>" frameborder="0"></iframe>
	</div>

	<div id='social'>
		<%= render 'social' %>
	</div>



