	<section id="cf_statistics">
		<ul id='data_cf'>
			<li>
				<span class='data_data'><%= (@cf.subscribers)to_s.reverse.gsub(/...(?=.)/,'\&,').reverse %></span>
				<span class="data_desc">Suscriptores</span>
			</li>
			<li>
				<span class='data_data'><%= (@cf.upload_views).to_s.reverse.gsub(/...(?=.)/,'\&,').reverse %></span>
				<span class="data_desc">Reproducciones</span>
			</li>
			<li>
				<span class='data_data'><%= (@cf.upload_count) %></span>
				<span class="data_desc">Vídeos</span>
			</li>
		</ul>
	</section>

	<div id='video' style='text-align:center;'>
		<h2 id='pTitle'><%= @cf.username %></h2>
		<%= image_tag @cf.avatar %>
	</div>


	<section id="description">
		<p>Aprende Ruby, Python Java, Javascript, jQuery, C++, PHP, HTML5, CSS y Xcode! Nuevos video tutoriales CADA DÍA.</p>
		<p> Suscríbete al canal para recibirlos recién salidos del horno.</p>
		<p></p>
		<p>Contacto: <strong>info@flashfacilito.com</strong></p>
	</section>