<section id='content'>

	<div id='video' style='text-align:center;'>
		<h2 id='pTitle'><%= @cf.username %></h2>
		<%= image_tag @cf.avatar %>
	</div>
	<div id='desc'>
		<ul class='data_cf'>
		<li>
			<span class='principal'><%= @cf.subscribers %></span>
			Suscriptores
		</li>
		<li>
			<span class='principal'><%= (@cf.upload_views).to_s.reverse.gsub(/...(?=.)/,'\&,').reverse %></span>
			Reproducciones
		</li>
		<li>
			<span class='principal'><%= (@cf.upload_count) %></span>
			Vídeos
		</li>
	</ul>
	<p>Aprende Java, Javascript, jQuery, C++, PHP, HTML5, CSS, Xcode, Ruby y Python!

Nuevos video tutoriales CADA DÍA. Suscríbete al canal para recibirlos recién salidos del horno.

Contacto: info@flashfacilito.com</p>
	</div>

</section>
