<!DOCTYPE html>
<html lang='es'>
<head>
  <title>
  	<% if @titulo %>
  		<%= @titulo %> en @Codigofacilito
  	<%else%>
  		CodigoFacilito - Alpha 0.2
  	<%end%>
  </title>
	<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="Description" content="Con casi 15 cursos, Aprende Ruby, Python Java, Javascript, jQuery, C++, PHP, HTML5, CSS y Xcode! Nuevos video tutoriales CADA DÍA.">
  <link href='http://fonts.googleapis.com/css?family=Signika:400,700' rel='stylesheet' type='text/css' />
  

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35640006-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body id='b'>
	<header>
		<section id="hp" class='row'>
		<%= link_to (image_tag('l/logo.png',style:'width:20%;')), root_path, class: 'no_ajaxify' %>	
			<nav class='span6 offset7' id='n'>
				<ul>
					<li class="sI"><a href="/acercade">Acerca de</a></li>
					<li class="sI">
						<a href="#">Cursos</a>
						<ul>
							<% @sus.each do |playlist| %>
								<%unless playlist.playlist_id == "PL6F13A3556A6C7A87" %> 
									<li><%= link_to playlist.title, "/cursos/#{playlist.playlist_id}"%></li>
								<%end%>
							<%end%>
						</ul>
					</li>
					<li class="sI">
						<a href="#">Más cursos</a>
						<ul>
							<li><%= link_to "Curso de desarrollo web", "/cursos/PLOcurmo_gZqYs3rCh-8mR2zxd99MEUYbk"%></li>
							<li><%= link_to "Tutoriales de Node.js", "/cursos/PLOcurmo_gZqZFciSvh3V4XuvbO3B7-Vfb"%></li>
							<li><%= link_to "Crea un reproductor de música", "/cursos/PL08630EE40C632829"%></li>
							<li><%= link_to "Google Maps API", "/cursos/PLBCB7D5D6971EBD17"%></li>
							<li><%= link_to "Curso de Android", "/cursos/PL0A103A65064BC6E2"%></li>
							<li><%= link_to "Curso de ActionScript 3 básico", "/cursos/PLDAEB6530B43489BD"%></li>
						</ul>
					</li>
					<li class="sI"><a href="/tutores">Tutores</a></li>
				</ul>
				<div id="searcher"></div>
			</nav>
			
		</section>
			<section id='slid'>
				<div id='t'>
					<hgroup>
						<h1>Aprende a Programar</h1>
						<h2>Java,Python,Ruby,javaScript,PHP y más</h2>
					</hgroup>
				</div>
				<%= image_tag('l/pc.png',style:"width:35%;") %>
			</section>
	</header>
	<section id="main">
		<%= yield %>
	</section>
<footer>
		<div id='insite'>
			<h2>Contacto</h2>
			<div class='row'>
				<div class='span4'>
					<h3>¡Hola!</h3>
					<ul>
						<li>¿Quieres ser tutor?</li>
						<li>Cuéntanos en <strong>info@flashfacilito.com</strong></li>
					</ul>
				</div>
				<div class='span4'>
					<h3>¡Aquí estamos!</h3>
					<ul>
						<li><%= image_tag 'somacro/f.png' %><a href="http://facebook.com/codigofacilito">Facebook</a></li>
						<li><%= image_tag 'somacro/t.png' %><a href="https://twitter.com/codigofacilito">Twitter</a></li>
						<li><%= image_tag 'somacro/y.png' %><a href="https://youtube.com/codigofacilito">Youtube</a></li>
					</ul>
				</div>
				<div class='span4'>
					<h3>Próximos cursos</h3>
					<ul>
						<li>Wordpress</li>
						<li>JAVA Visual</li>
						<li>Juegos con HTML5</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
<!--
	-->
</body>
</html>
