<!DOCTYPE html>
<html>
<head>
  <title>CodigoFacilito - Alpha 0.1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Signika:400,700' rel='stylesheet' type='text/css' />
</head>
<body>
	<header>
		<section id="hp">
			<section id="eye">
				<%= link_to (image_tag('l/logo.png')), root_path %>
				
			</section>
			<nav>
				<ul>
					<li class="sI"><a href="/acercade">Acerca de</a></li>
					<li class="sI">
						<a href="#">Cursos</a>
						<ul>
							<% @sus.each do |playlist| %>
								<li><%= link_to playlist.title, "/cursos/#{playlist.playlist_id}"%></li>
							<%end%>

							<li><a href="/cursos/python">Python</a></li>
							<li><a href="/cursos/js">JavaScript &amp; jQuery</a></li>
							<li><a href="/cursos/ruby">Ruby</a></li>
							<li><a href="/cursos/java">Java</a></li>
						</ul>
					</li>
				</ul>
				<div id="searcher"></div>
			</nav>
		</section>
	</header>

<%= yield %>
<footer>
		<section id="fcont">
			<div id="fsocial">
				<a href="http://facebook.com/codigofacilito" target="_blank"><%= image_tag 'somacro/f.png' %></a>
				<a href="http://youtube.com/user/codigofacilito" target="_blank"><%= image_tag 'somacro/y.png' %></a>
				<a href="http://twitter.com/codigofacilito" target="_blank"><%= image_tag 'somacro/t.png' %></a>
			</div>
		</section>
	</footer>

	<section id="temario">
		<ul id="temario python">
			<li id="4RzkDG9qXP4">1.- Curso de Desarrollo Web desde CERO | ¿Qué es HTML y que es HTML5?</li>
			<li id="KlzkDG9q094">Otro</li>
			<li id="4RzkDfGq564">...</li>
			<li id="5YtkDG9qFG4">...</li>
		</ul>
	</section>

</body>
</html>
