<!DOCTYPE html>
<html>
<head>
  <title>CodigoFacilito - Alpha 0.1</title>
	<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Signika:400,700' rel='stylesheet' type='text/css' />
</head>
<body>
	<header>
		<section id="hp">
			<section id="eye">
				<%= link_to (image_tag('l/logo.png')), root_path %>
			</section>
			<nav>
				<ul>
					<li class="sI"><a href="/acercade">Acerca de</a></li>
					<li class="sI">
						<a href="#">Cursos</a>
						<ul>
							<% @sus.each do |playlist| %>
								<%unless playlist.playlist_id == "PL6F13A3556A6C7A87" %> 
									<li><%= link_to playlist.title, "/cursos/#{playlist.playlist_id}"%></li>
								<%end%>
							<%end%>
						</ul>
					</li>
				</ul>
				<div id="searcher"></div>
			</nav>
		</section>
	</header>
	<section id="brain">
		<%= yield %>
	</section>
<footer>
		<section id="fcont">
			<div id="fsocial">
				<a href="http://facebook.com/codigofacilito" target="_blank"><%= image_tag 'somacro/f.png' %></a>
				<a href="http://youtube.com/user/codigofacilito" target="_blank"><%= image_tag 'somacro/y.png' %></a>
				<a href="http://twitter.com/codigofacilito" target="_blank"><%= image_tag 'somacro/t.png' %></a>
			</div>
		</section>
	</footer>
<!--
	-->
</body>
</html>
