<!DOCTYPE html>
<html>
<head>
  <title>
  	<% if @titulo %>
  		<%= @titulo %> en @Codigofacilito
  	<%else%>
  		CodigoFacilito - Alpha 0.1
  	<%end%>
  </title>
	<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href='http://fonts.googleapis.com/css?family=Signika:400,700' rel='stylesheet' type='text/css' />

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35640006-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
	<header>
		<section id="hp">
			<section id="eye">
				<%= link_to (image_tag('l/logo.png')), root_path %>
			</section>
			<nav>
				<ul>
					<li class="sI"><a href="/acercade">Acerca de</a></li>
					<li class="sI">
						<a href="#">Cursos</a>
						<ul>
							<% @sus.each do |playlist| %>
								<%unless playlist.playlist_id == "PL6F13A3556A6C7A87" %> 
									<li><%= link_to playlist.title, "/cursos/#{playlist.playlist_id}"%></li>
								<%end%>
							<%end%>
						</ul>
					</li>
					<li class="sI">
						<a href="#">Más cursos</a>
						<ul>
							<li><%= link_to "Curso de desarrollo web", "/cursos/PLOcurmo_gZqYs3rCh-8mR2zxd99MEUYbk"%></li>
							<li><%= link_to "Tutoriales de Node.js", "/cursos/PLOcurmo_gZqZFciSvh3V4XuvbO3B7-Vfb"%></li>
							<li><%= link_to "Crea un reproductor de música", "/cursos/PL08630EE40C632829"%></li>
							<li><%= link_to "Google Maps API", "/cursos/PLBCB7D5D6971EBD17"%></li>
							<li><%= link_to "Curso de Android", "/cursos/PL0A103A65064BC6E2"%></li>
							<li><%= link_to "Curso de ActionScript 3 básico", "/cursos/PLDAEB6530B43489BD"%></li>
						</ul>
					</li>
				</ul>
				<div id="searcher"></div>
			</nav>
		</section>
	</header>
	<section id="brain">
		<%= yield %>
	</section>
<footer>
		<section id="fcont">
			<div id="fsocial">
				<a href="http://facebook.com/codigofacilito" target="_blank"><%= image_tag 'somacro/f.png' %></a>
				<a href="http://youtube.com/user/codigofacilito" target="_blank"><%= image_tag 'somacro/y.png' %></a>
				<a href="http://twitter.com/codigofacilito" target="_blank"><%= image_tag 'somacro/t.png' %></a>
			</div>
		</section>
	</footer>
<!--
	-->
</body>
</html>
